<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="https://www.nii.ac.jp/">
          <img src="/images/nii_logo_ja.svg" class="footer-nii-logo" />
        </a>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="footer-link-list">
          <li class="footer-link-item">
            <a
              href="https://ui.orthros.gakunin.nii.ac.jp/ja/pages/about"
              target="_blank"
              rel="noopener noreferrer"
              >Orthrosについて
            </a>
          </li>
          <li class="footer-link-item">
            <a
              href="https://ui.orthros.gakunin.nii.ac.jp/ja/pages/privacy-policy"
              target="_blank"
              rel="noopener noreferrer"
              >プライバシーポリシー
            </a>
          </li>
          <li class="footer-link-item">
            <a
              href="https://ui.orthros.gakunin.nii.ac.jp/ja/pages/terms-of-use"
              target="_blank"
              rel="noopener noreferrer"
            >
              利用規約</a
            >
          </li>
          <li class="footer-link-item">
            <a href="/docs/Orthros%20ヘルプ/"> お知らせ・ヘルプ </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyRight">
      <p>© National Institute of Informatics</p>
    </div>
  </div>
</footer>
