<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <a href="https://www.nii.ac.jp/">
          <img
            src="/images/nii_logo_ja.svg"
            class="footer-nii-logo"          >
        </a>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="footer-link-list">
          <li class="footer-link-item">
            <a href="/ja/pages/about">Orthrosについて</a>
          </li>
          <li class="footer-link-item">
            <a href="/ja/pages/privacy-policy">プライバシーポリシー</a>
          </li>
          <li class="footer-link-item">
            <a href="/ja/pages/terms-of-use">利用規約</a>
          </li>
          <li class="footer-link-item">
            <a
              href="https://github.com/gakunin/orthros-docs/blob/main/docs/Orthros%20%E3%83%98%E3%83%AB%E3%83%97/README.md"
              target="_blank"
              rel="noopener noreferrer"
            >
              お知らせ・ヘルプ
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="copyRight">
      <p>© National Institute of Informatics</p>
    </div>
  </div>
</footer>